.sales-history-container {
  max-width: 900px;
  margin: 5rem auto;
  padding: 2rem;
  background-color: #fafafa;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  font-family: sans-serif;
}

.sales-history-container h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: #333;
}

.sales-history-container .erro {
  color: #d32f2f;
  text-align: center;
  margin-bottom: 1rem;
}

.sales-history-container table {
  width: 100%;
  border-collapse: collapse;
  color: #333
}

.sales-history-container th,
.sales-history-container td {
  padding: 0.75rem;
  border: 1px solid #ccc;
  text-align: center;
}

.sales-history-container th {
  background-color: #e0e0e0;
}

.sales-history-container tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}