
.dashboard-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(270deg, #757575, #535353, #5c5c5c);
  background-size: 600% 600%;
  animation: gradientAnimation 20s ease infinite;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 2rem;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


.fade-in-up {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.8s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.dashboard-page h2 {
  font-size: 2.5rem;
  color: #ffffff;
  margin-bottom: 3rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.2rem;
  background: rgba(255, 255, 255, 0.1);
  padding: 2rem;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 300px;
}

.card a {
  display: block;
  width: 100%;
  text-align: center;
}

.card a button {
  padding: 0.9rem 1.5rem;
  background-color: #505050;
  color: #ffffff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card a button:hover {
  background-color: #575fcf;
  transform: scale(1.05);
}

.logout-button {
  margin-top: 30px;
  background-color: #eb4d4b;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.logout-button:hover {
  background-color: #ff6b6b;
  transform: scale(1.05);
}

@media (max-width: 400px) {
  .card {
    width: 90%;
    padding: 1.5rem;
  }

  .dashboard-page h2 {
    font-size: 2rem;
    text-align: center;
  }
}
