.ativacao-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 2rem;
    border-radius: 15px;
    background-color: #8b8b8b;
    box-shadow: 0 2px 6px rgba(168, 168, 168, 0.1);
  }
  
  .ativacao-container h2 {
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .ativacao-container form {
    display: flex;
    flex-direction: column;
  }
  
  .ativacao-container label {
    margin-top: 1rem;
    margin-bottom: 0.3rem;
  }
  
  .ativacao-container input {
    padding: 0.5rem;
    font-size: 1rem;
  }
  
  .ativacao-container button {
    margin-top: 1.5rem;
    padding: 0.75rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .ativacao-container button:hover {
    background-color: #215723;
  }
  