.form-container {
    max-width: 500px;
    margin: 3rem auto;
    padding: 2rem;
    background-color: #e0e0e0;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgb(9, 197, 211);
  }
  
  .form-container h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #000000;
  }
  
  .form-container label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.3rem;
    color: #444;
  }
  
  .form-container input,
  .form-container select {
    width: 100%;
    padding: 0.6rem;
    margin-bottom: 1rem;
    border: 1px solid #5f5f5f;
    border-radius: 0.5rem;
    font-size: 1rem;
  
    background-color: #e6e6e6;
    color: #333;
  }
  
  .form-container input[type="file"] {
    padding: 0.3rem;
    background-color: #f4f4f4;
    color: #333;
  }
  
  .form-container button {
    width: 100%;
    padding: 0.7rem;
    background-color: #008f6b;
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .form-container button:hover {
    background-color: #004e0a;
  }
  /* Esconde o campo de input real de arquivo */
.image-upload-container input[type="file"] {
  display: none;
}

/* Estilo do botão de upload */
.custom-upload-label {
  padding: 12px 24px;
  background-color: #007bff;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  display: inline-block;
}

.custom-upload-label:hover {
  background-color: #0056b3;
}
